<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wikode</title>
    {{#each stylesheets}}
      <link rel="stylesheet" href="{{ this }}" type="text/css">
    {{/each}}
  </head>

  <body>
    <!-- Server-rendered React component must be inserted without any sorrounding whitespace -->
    <div id="mount-point" data-template="{{ template }}">{{{ reactHtml }}}</div>

    <script type="text/javascript">
      window.state = {{{json state}}}
    </script>
    {{#each scripts}}
      <script src="{{ this }}" type="text/javascript"></script>
    {{/each}}

  </body>
</html>
